<header>
  <nav class="blue-grey">
    <div class="nav-wrapper">
      <a [routerLink]="['/']" class="brand-logo center" angulartics2On="click" angularticsEvent="Homepage" angularticsCategory="{{ homepage_link }}" [angularticsProperties]="{label: 'internal_link'}">
        {{ toolbar.title }}
      </a>
      <ul class="left">
        <li>
          <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left', closeOnClick: true, draggable: true, show: true}]" data-activates="hopbox-pro-sidenav" id="burger-nav" angulartics2On="click" angularticsEvent="BurgerNav" angularticsCategory="{{ open_navbar }}" [angularticsProperties]="{label: 'menu'}">
            <i class="material-icons white-text">menu</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<ul class="side-nav" id="hopbox-pro-sidenav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="assets/images/sidenav-bg.jpg">
      </div>
      <a [routerLink]="'/'" angulartics2On="click" angularticsEvent="Homepage" angularticsCategory="{{ sidenav.src }}" [angularticsProperties]="{label: 'internal_link'}">
        <img class="circle" [src]="sidenav.src" *ngIf="sidenav">
      </a>
      <a [routerLink]="'/'" angulartics2On="click" angularticsEvent="Homepage" angularticsCategory="{{ sidenav.name }}" [angularticsProperties]="{label: 'internal_link'}">
        <span class="white-text name" *ngIf="sidenav">{{ sidenav.name }}</span>
      </a>
      <a [routerLink]="'/'" angulartics2On="click" angularticsEvent="Homepage" angularticsCategory="{{ sidenav.email }}" [angularticsProperties]="{label: 'internal_link'}">
        <span class="white-text email" *ngIf="sidenav">{{ sidenav.email }}</span>
      </a>
    </div>
  </li>
  <li>
    <a [routerLink]="['/experience']" angulartics2On="click" angularticsEvent="Expérience link" angularticsCategory="Expérience" [angularticsProperties]="{label: 'internal_link'}">Mon Expérience</a>
  </li>
</ul>
