<header class="jumbotron header" id="header">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="avatar">
          <img src="assets/images/profile-picture.jpg" class="img-responsive" alt="Photo de profil de Romain Marecat">
        </div>
      </div>
      <div class="col s12 m6">
        <h1 class="heading" name="Romain Marecat" title="Romain Marecat">ROMAIN MARECAT</h1>
        <p>Ingénieur Développement Web</p>
        <div class="row">
          <div class="input-field col s12 m12 l6">
            <a [routerLink]="['/experience']" class="btn btn-large btn waves-light waves-effect grey" angulartics2On="click" angularticsEvent="Expérience" angularticsCategory="En savoir plus">
              <i class="material-icons left">remove_red_eye</i>
              <span>En savoir plus</span>
            </a>
          </div>
          <div class="input-field col s12 m12 l6">
            <a href="assets/pdf/CV_MARECAT_ROMAIN_2017.pdf" class="btn btn-large btn waves-light waves-effect teal" angulartics2On="click" angularticsEvent="DownloadClick" angularticsCategory="Télécharger mon CV">
              <i class="material-icons left">file_download</i>
              <span>Télécharger mon CV</span>
            </a>
          </div>
          <div class="col s12 mt2 ">
            <p class="nmb valign-wrapper">
              <i class="material-icons left valign">settings_phone</i>
              <a class="valign" href="tel:0783465951" angulartics2On="click" angularticsEvent="PhoneClick" angularticsCategory="07 83 46 59 51">07 83 46 59 51</a>
            </p>
          </div>
          <div class="col s12 mt1">
            <p class="nmb email valign-wrapper">
              <i class="material-icons valign left">email</i>
              <a class="valign" href="mailto:romain.marecat@gmail.com" angulartics2On="click" angularticsEvent="EmailClick" angularticsCategory="romain.marecat@gmail.com">romain.marecat@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
