<header class="jumbotron header" id="header">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="avatar">
          <img src="assets/images/profile-picture.jpg" class="img-responsive" alt="Photo de profil de Romain Marecat">
        </div>
      </div>
      <div class="col s12 m6">
        <h1 class="heading" name="Romain Marecat" title="Romain Marecat">ROMAIN MARECAT</h1>
        <p>Ingénieur Développement Web</p>
        <div class="row">
          <div class="input-field col s12 m6">
            <a [routerLink]="['/about']" class="btn btn-large waves-light waves-effect grey">
              <i class="material-icons left">remove_red_eye</i>
              <span>En savoir plus</span>
            </a>
          </div>
          <div class="input-field col s12 m6">
            <a href="assets/pdf/CV_MARECAT_ROMAIN_2017.pdf" class="btn btn-large waves-light waves-effect teal pulse">
              <i class="material-icons left">file_download</i>
              <span>Télécharger mon CV</span>
            </a>
          </div>
          <div class="col s12 mt2">
            <p class="nmb">
              <i class="material-icons">settings_phone</i>
              <a href="tel:0783465951">07 83 46 59 51</a>
            </p>
          </div>
          <div class="col s12 mt1">
            <p class="nmb email">
              <i class="material-icons">email</i>
              <a href="mailto:romain.marecat@gmail.com">romain.marecat@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
